
<% if current_user %>
    <%= form_with(model: comment, url: user_article_comments_path(user_id: current_user.id, article_id: article.id), local: true) do |f| %>
        <div class="mb-3">
            <%= hidden_field_tag :controller_path, controller_path %>
            <%= f.text_area :comment, class: 'form-control', rows:'5',placeholder: "コメントを入力してください" %>
        </div>
        <%= f.submit "送信する" %>
    <% end %>
<% end %>

