<% if @article.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
<%
=begin %>
    # pluralize 最初の引数に整数があると、その値に基づいて２番目の引数である英単語が単数系、または複数形で渡される
    # pluralize(2, "error") => "2 errors"
<%
=end %>
        入力エラーが <%= pluralize(@article.errors.count, "件") %>ありました。
        </div>
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>