<!-- Footer-->
<footer class="py-5 bg-dark footer-length border border-danger">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; WEIGHT CONTROL 2023</p></div>
</footer>